*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.informations{
    padding: 5px;
    font-size: 20px;
    color: #333;

}

.main-title{
    background-color: blue;
    color: #fff;
    padding: 30px;
    text-align: center;
    font-size: 3rem;
}

main{
    margin: 50px;
    padding: 25px;
}

.card-title{
    font-size: 40px;
}

#five-day {
    font-size:18px;
}

#search-form{
    display: flex;
}